<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>

</head>
<body>
    {% if user.is_staff %}
    <form action="{% url 'submitCity'%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>

    {%else%}
    <p>You dont have access to view this</p>
    {%endif%}
</body>
</html>