{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
</head>
<body>
    <!-- <div class="feedback">
        <form action="{%submit 'url'%" method="get">
            Name <br><input type="text" name="name" id="name"><br><br>
            Phone Number <br><input type="text" name="contact" id="contact">
            Mail ID <br><input type="text" name="rmail" id="mail"><br><br>
            Feed Back <br><textarea name="feed" id="feed" cols="30" rows="10"></textarea><br><br>
            <button>Submit</button>
        </form>
    </div> -->
</body>
</html>