{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Login</title>

</head>
<body>
    <form action="{% url 'login'%}" method="post">
        {% csrf_token %}
        <input type="text" name="username" id="">
        <input type="password" name="password">
        <button type="submit">Login</button>
    </form>
    <div class="error">
        {%for i in messages%}
        <div class="para">{{i.message}}</div>
        {%endfor%}
    </div>
</body>
</html>